html, body {
  height: 100%;
  width: 100%;
}

 .nav{
  padding: 30px 0px;
  background-color: black;
}

.nav a{
   color: white;
  text-decoration: none;
  padding-left: 20px;
  }

.nav-menu{
  position: relative;
  justify-content: space-between;
  padding-right: 100px;
  float: right;
}


.background{
  background-image: url("photo-1609188944094-394637c26769.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.section {
  height: 500px;
  padding: auto;
}

.bgtext{
  position: relative;
  text-align: center;
  align-items: space-between;
  color: black;
  padding: 300px;

} 

h2{
  font-family: 'Noto Serif', serif;
  font-weight: 900;
  font-size: 20px;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

img {
  height: 150px;
  width: 250px;
}

.card {
 margin: 1em;
padding: 1em;
  border: solid 6px #ffd977; 
  border-radius: 6px;
  width: 360px;
  cursor: pointer;
 background-color: #fff;
}

.card img {
  width: 280px; 
}

.card:hover{
  border: none;
  border-right: solid 6px #ffd977;
  border-bottom: solid 6px #ffd977;

}

.category {
   text-transform: lowercase;
 font-variant: small-caps;
font-size: 18px;
  font-weight: 600;
 font-family: sans-serif;
  color: #b5460f;
    }

.name {
  font-size: 30px;
  line-height: 1.2;
 padding-bottom: 1em;
}

button {
  padding: 12px 35px;
  margin-top: 25px;
  border-radius: 20px;
  background-color: transparent;
}

#btn {
    border: solid 1px black
}

.about-me {
  padding: 100px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bold;
  color: black;
}

strong {
  color: #ffd977;
}

.exp {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  
}

.expl {
  font-size: 20px;
  text-align: center;
  align-items: space-between;
  color: black;
    }

#small {
  font-size: 15px;
  padding: 0px 20px;
}
  
body {
  background: linear-gradient(to bottom,#f0f9f9 12%,#f0f9f9 15.74%,#b5460f 100%);
  max-width: 900px;
  margin: auto 0;
  }  

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 3rem;
}